# UCI SEMICOM dataset

After doing research about the dataset which can be found in the *word document* I will have put in the same folder as this analysis, I will now start to work on the dataset. I've taken a look into the dataset ( which you can also see in the sample ) and I know I have many columns with numerical variables.

#### First we import all the important stuff and our dataset.

In [1]:
import pandas as pd
import numpy as np

SemiCom = pd.read_csv("uci-secom.csv")
np.random.seed(0)

#### I will also add a function that makes sure the output is shown on full screen and not in a scrollable block.

In [2]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
return false;
}

***
Here we can check our data really quick.
***

In [3]:
SemiCom.sample(5)

,Time,0,1,2,3,4,5,6,7,8,...,581,582,583,584,585,586,587,588,589,Pass/Fail
319,2008-08-20 01:42:00,2926.40,2421.45,2180.9666,998.4939,1.3990,100.0,106.3311,0.1216,1.3899,...,NaN,0.5036,0.0150,0.0035,2.9800,0.0262,0.0076,0.0022,29.1606,-1
1045,2008-09-23 22:25:00,2935.34,2551.27,2276.4556,2148.5397,1.2317,100.0,93.6778,0.1199,1.4132,...,NaN,0.4941,0.0178,0.0043,3.6018,0.0257,0.0174,0.0060,67.6124,-1
1323,2008-05-10 14:34:00,3023.56,2555.88,2205.2555,1412.7131,0.9785,100.0,95.2556,0.1216,1.5407,...,NaN,0.5018,0.0127,0.0034,2.5350,0.0230,0.0210,0.0053,91.4264,-1
579,2008-08-30 11:12:00,3042.36,2493.85,2124.8444,1180.2820,0.8465,100.0,100.7978,0.1257,1.3725,...,NaN,0.4970,0.0143,0.0031,2.8703,0.0182,0.0139,0.0039,76.6094,-1
414,2008-08-22 10:47:00,2965.48,2467.94,2178.6889,1657.3518,1.6603,100.0,100.8022,0.1229,1.5611,...,43.1616,0.5008,0.0109,0.0029,2.1758,0.0433,0.0187,0.0056,43.1616,-1

### Cleaning the data

***
Before I can start to work with this dataset i need to clean it. The information from the dataset said we did have missing values so lets start to work on those:

* I first want to see what I'm dealing with. So I can decide if i want to remove columns or add values.
***

In [11]:
#Let's check how many rows and columns we have in this dataset
totaldata = np.product(SemiCom.shape)
totaldata

927664

In [13]:
#Total amount of missimg data
missingdata = SemiCom.isnull().sum()
totalmissingdata = missingdata.sum()
totalmissingdata

41951

***
Now one thing i want to do is check the percentage of the total missing values in this dataset.
***

In [14]:
(totalmissingdata/totaldata) * 100

4.522219251798065

***
As you can see not much of the data is missing so removing these wont have a big impact since the dataset has very many values. But, it is necessary to have a clean dataset so that our prediction is more accurate
***

In [15]:
#I wanted to check which colums had the most NaN values
missingdata.sort_values(ascending=False).head(50)

158    1429
292    1429
293    1429
157    1429
85     1341
492    1341
220    1341
358    1341
517    1018
245    1018
246    1018
518    1018
382    1018
516    1018
109    1018
111    1018
244    1018
110    1018
384    1018
383    1018
579     949
581     949
580     949
578     949
346     794
345     794
73      794
72      794
519     715
385     715
112     715
247     715
568     273
566     273
565     273
569     273
563     273
562     273
567     273
564     273
555     260
553     260
554     260
557     260
556     260
549     260
546     260
548     260
547     260
550     260
dtype: int64