In [3]:
import pandas as pd
import numpy as np

from matplotlib import figure
import matplotlib.pyplot as plt
import seaborn as sns

import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.tokenize import word_tokenize
nltk.download('stopwords')
nltk.download('wordnet')


mt = pd.read_csv('new_dataset.csv')

[nltk_data] Downloading package stopwords to /Users/alex/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/alex/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

# Let's check our cleaned dataset:
***

In [4]:
mt.head()

                                      processed_text
0  ['entitl', 'obnoxi', 'defens', 'lie', 'weasel'...
1             ['thank', 'woman', 'survivor', 'week']
2  ['knit', 'amp', 'get', 'readi', 'januari', '19...
3  ['yep', 'like', 'triffel', 'woman', 'weapon', ...
4  ['presid', 'want', 'end', 'movement', 'pose', ...